[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
drf-nested-routers = "*"
celery = "*"
django-filter = "*"
reportlab = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
